{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 180,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto",
    "importOrder": ["^@nestjs/(.*)$", "^typeorm$", "^src/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
